name: release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
defaults:
  run:
    working-directory: app
jobs:
  build:
    permissions:
      contents: write
    strategy:
      matrix:
        platform: [ macos-latest, windows-latest, ubuntu-22.04 ]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Debug paths
        run: |
          pwd
          ls -la
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies (Linux only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt update
          sudo apt install -y \
            libwebkit2gtk-4.1-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf

      - name: Install frontend deps
        run: npm install

      - name: Build frontend
        run: npm run build

      - name: Tauri build & release
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: ${{ github.ref_name }}
          releaseName: "Via ${{ github.ref_name }}"
          releaseDraft: false
          prerelease: false
